<div><a href = "/rock">Play Rock</a></div>
<div><a href = "/paper">Play Paper</a></div>
<div><a href = "/scissors">Play Scissors</a></div>

<div><h2>We played <%=@player_move%>!</h2></div>
<div><h2>They played <%=@computer_move%>!</h2></div>
<div><h2><%=@solution%></h2></div>

<div><a href="/">Rules</a></div>
